<form action="/api/login" method="post">

    <label for="input-email">Email</label>
    <input name="email" id="input-email" type="text" placeholder="Email">
    
    
    <label for="input-password">Password</label>
    <input name="password" type="password" placeholder="password">

<button type="submit">Login</button>
</form>